@import '../../stylesheets/variables.css';

.tagline {
     font-size: 1.1rem;
     margin: 0.5em;
     padding: 1em;
     text-align: left;
     color: #f0ebeb;
     background-color: var(--TAGLINE_BG_COLOR);
     background: linear-gradient(30deg, #56319bc2, #4058c0c2);
     border-radius: 0.8em;
     transition: color 1s ease,
     background-color 1s ease;
     animation: slideRight 1.5s ease forwards;
     visibility: hidden;
     transform: translateX(-100%);
}

@keyframes slideRight {
     to {
          visibility: visible;
          transform: translateX(0);
     }
}

.paragraph {
     width: 100%;
}

.fadeIn {
     animation: fadeIn 2s ease forwards;
     opacity: 0;
     transform: scale(0.9);
}

@keyframes fadeIn {
     to {
          opacity: 1;
          transform: scale(1);
     }
}

.paragraph > * {
     white-space: pre-line;
     padding: 0.5rem 0;
     margin: 0 1rem;
     transition: color 1s ease;
}

.paragraph h1 {
     font-size: 1.6rem;
}

.paragraph p {
     font-size: 1.1rem;
     font-style: italic;
     line-height: 1.8em;
}
